# InteliJ
out/
.idea
.idea_modules
*.iml
*.ipr
*.iws

# VS Code
.vscode
!.vscode/extensions.json

# GitHub
.github

# Log file
*.log

# System
.DS_Store
**/.DS_Store

# Gradle
.gradle/
build/

# .NET / Avalonia
bin/
obj/
*.suo
.vs/